.container {
    position: relative;
    display: grid;
    align-items: center;
}
.container button {
    margin-top: 10px;
}
.container > button:first-child {
    margin-top: 0;
}
.container button .icon {
    display: none;
}
.linksWrapper {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    min-width: 100%;
    z-index: 1;
}
.linksWrapper.hidden {
    display: none;
}

.container.galleryItem button {
    min-height: 2rem;
    padding: 0 0.5rem;
}
.container.galleryItem > button,
.container.galleryItem .linksWrapper
{
    margin-left: -0.5rem;
}
.container.galleryItem .linksWrapper > button:first-child {
    margin-top: 4px;
}
@media (max-width: 480px) {
    .container.galleryItem > button {
        min-width: 6.125rem;
    }
    .container.galleryItem > button .text {
        display: none;
    }
    .container.galleryItem > button .icon {
        display: unset;
    }
}
